body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
width: 600px;
  margin: 0 auto;
  padding-top: 5rem;
}

.rm{
  border-radius: 50%;
  background-color: red;
  color: white;
  border: none;
}
.rm:active,.rm:focus{
  outline: none;
}
.done{
  text-decoration: line-through;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid red;
  border-color: red transparent red transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.inp{
  width: 400px;
  height: 40px;
  margin-top: 20px;
  margin-right: 5px;
}
.button-1 {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: .3em;
  font-family: 'Montserrat', sans-serif;
  padding: 17px 34px 17px 39px;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.button-1:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #32D4E2;
  z-index: -1;
  transition: .25s ease;
  transform: translate(0, 0);
}

.button-1:hover:before {
  transform: translate(4px, 4px);
  outline: none;
}

